:host {
  display: flex;
  flex-direction: column;
  gap: 16px;

  height: 100vh;

  padding: 16px;

  background: #833AB4;
  background: linear-gradient(90deg, rgba(131, 58, 180, 0.3) 0%, rgba(253, 29, 29, 0.3) 50%, rgba(252, 176, 69, 0.3) 100%);
}
